body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto; 
}

.image-one {
   
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ensure the image doesn't overflow its container */
}

.image-one img {
    height: 100%;
    width: 100%;
    object-fit: contain; /* Maintain aspect ratio without stretching */
}

.mobile-view{
    display: none;
}
.login-button{
    height: 80px;
    background-color:#1e2d2e ;
    display: flex;
    justify-content: center;
    align-items: center;

}
.login-button img{
   

    height: 50px;
    max-width: 215px;
    width: 100%;
    cursor: pointer;
}
.button-gifted{
    height: 50px;
    max-width: 215px;
    width: 100%;
    cursor: pointer;
}
.logo-gifted{
    height: 70px;
    max-width: 180px;
    width: 100%;
    cursor: pointer;
}

.navbar-wrapper{
    height: 100px;
    background-color:#1e2d2e ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}


@media only screen and (max-width: 700px) {
.desktop-view{
   display: none;
    }
    .mobile-view{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
      
    }
    .mobile-view img{
        
        margin: 0;
        padding: 0;
      
    }
  }

  /* #1e2d2e; */